* {
  margin: 0;
  padding: 0;
  border: none;
}

#logo {
  height: 200px;
  margin: 0 auto;
}

.btn {
  margin: 5px;
}

.reset{
  max-width: 200px;
}

#startControls{
    width: 350px;
    border: 5px solid green;
    padding: 40px;
    margin: 0px auto;
}

#scoreboard{
  width: 350px;
  border: 5px solid green;
  padding: 40px;
  margin: 0px auto;
}

#difficulty{
  background-color: yellow;
}

#numberGames{
  background-color: yellow;
}